<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/public/assets/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Triangle</title>
</head>
<body>
    <h1>Welcome to "Triangle checker"!</h1>
    <h3>Insert x and y coordinates of a, b and c points <br> (separated with comma)</h3>
    <form id="contact-form" method="POST" action="/api/triangle/">
        <label class="lab">Insert X and Y coordinates of point A</label>
        <input type="text" name="a">
        <label class="lab">Insert X and Y coordinates of point B</label>
        <input type="text" name="b">
        <label class="lab">Insert X and Y coordinates of point C</label>
        <input type="text" name="c">
        <input class="subbut" type="submit">
    </form>
</body>
</html>