<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/public/assets/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Triangle</title>
</head>
<body>
    <h1>Welcome to "Triangle checker"!</h1>
    <h3>Based on the points you entered, it seems that you have <%= data %> triangle!</h3>
</body>
</html>